<md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="garmentFamily in usedTags" label="{{garmentFamily.familyName}}">
        <md-content class="md-padding">
            <tags tags="garmentFamily.garments"></tags>
        </md-content>
    </md-tab>
</md-tabs>

<div layout="column" layout-fill layout-padding class="middle-frame">
    <div layout="row">
        <md-input-container flex class="md-icon-float md-block md-title no-margins">
            <label>Search for patterns</label>
            <input ng-model="search">
        </md-input-container>
        <div layout="column">
            <md-button aria-label="Search" ng-click="searchByCriteria()">
                Search
            </md-button>
        </div>
    </div>
    <div flex ng-cloak ng-include="'ng/Common/pattern-grid.tpl.html'">
    </div>
</div>
