<h5>Files</h5>
<div layout="row" layout-margin>You can upload pattern definition files like Valentina's files.
    You can also upload photos of the garment (png or jpeg/jpg).</div>
<div layout="column" class="border-file-upload">
    <div layout="row" layout-margin ng-repeat="item in download_files_urls">
        <img ng-if="item.filename | isImage" ng-src="view_photo/{{item.blob_key}}"
            class="thumb" />
        <div layout="row" flex layout-align="end center">
            {{item.filename}}
            <md-button class="md-primary" ng-href="view_photo/{{item.blob_key}}"
                download="{{item.filename}}">
                <ng-md-icon icon="delete"></ng-md-icon>
                Delete
            </md-button>
            <md-button class="md-primary" ng-href="view_photo/{{item.blob_key}}"
                download="{{item.filename}}">
                <ng-md-icon icon="cloud_download"></ng-md-icon>
                Download
            </md-button>
        </div>
    </div>
    <div layout="row">
        <input class="ng-hide" id="input-file-id" type="file" custom-on-change="uploadFile"
        />
        <label for="input-file-id" class="md-button md-primary md-raised">
            <span>Add File</span>
        </label>
    </div>
</div>
