<div layout="row">
    <md-button class="md-primary" ng-click="destroy()" ng-show="pattern.id">
        Delete Pattern
    </md-button>
    <span flex></span>
    <md-button ng-if="step==0" ng-disabled="!myForm.$valid" class="md-raised md-primary"
        ng-click="goToStep(1)">
        Upload Files
        <ng-md-icon icon="chevron_right" style="fill:white"></ng-md-icon>
    </md-button>
    <md-button ng-if="step==1" class="md-raised md-primary" ng-click="goToStep(0)">
        <ng-md-icon icon="chevron_left" style="fill:white"></ng-md-icon>
        Describe your pattern
    </md-button>
    <md-button ng-if="step==1" ng-click="finish()" class="md-raised md-secondary done-button">
        Done!
    </md-button>
</div>
