<h5>Required information</h5>
<div layout="row">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Select Garment Family</label>
        <md-select required ng-model="pattern.garment_family" md-on-close="firstSelectionMade()">
            <md-option ng-repeat="garmentFamily in families" value="{{garmentFamily}}">
                {{garmentFamily}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Select {{pattern.garment_family}}</label>
        <md-select required ng-model="pattern.garment_type" ng-disabled="!garmentsReady">
            <md-option ng-repeat="garmenType in garmentTypes" value="{{garmenType}}">
                {{garmenType}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<md-input-container class="md-block" flex>
    <label>Pattern Name</label>
    <input type="text" name="name" ng-model="pattern.name" required>
    <ng-messages for="myForm.myName.$error" role="alert">
        <ng-message when="required">Required</ng-message>
    </ng-messages>
</md-input-container>
<md-input-container class="md-block" flex>
    <label>Description</label>
    <textarea type="text" name="description" ng-model="pattern.description"
        required></textarea>
    <ng-messages for="myForm.myName.$error" role="alert">
        <ng-message when="required">Required</ng-message>
    </ng-messages>
</md-input-container>
<h5>Optional</h5>
<md-input-container class="md-block" flex>
    <label>Youtube Video Tutorial</label>
    <input type="url" name="video_url" ng-model="pattern.video_url">
    <ng-messages for="myForm.video_url.$error" role="alert">
        <ng-message when="url">Not a URL (must be http://... or https://...)</ng-message>
    </ng-messages>
</md-input-container>
<div layout="row" ng-if="processing" layout-align="center center"
    class="spinner-overlay">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
