<h3 class="md-title">{{pattern.garment_family}}/{{pattern.garment_type}}</h3>
<h3 class="md-display-1">{{pattern.name}}</h3>
<p class="md-body-1">{{pattern.description}}</p>

<div layout="row" ng-if="pattern.video_url" layout-align="start center">
    Youtube Video Tutorial:
    <md-button ng-href="{{pattern.video_url}}" class="md-primary"
        target="_blank"> {{pattern.video_url}}
    </md-button>
</div>

<div layout="column">
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px"
        md-gutter-gt-sm="8px">
        <md-grid-tile ng-if="item.filename | isImage" class="gray" md-rowspan="1"
            ng-repeat="item in download_files_urls | orderBy:'extension'"
            md-colspan="1" ng-click="onpenPopup(item)">
            <img ng-src="view_photo/{{item.blob_key}}" class="tile-img" />
        </md-grid-tile>
    </md-grid-list>
</div>
<div layout="column" class="border-file-upload">
    <div ng-repeat="item in download_files_urls | orderBy:'extension'"
        ng-if="item.extension == 'val'" layout="row">
        <div layout="row" layout-align="end center">
            <img ng-src="/static/img/Valentina-Logo_v1_med.png" class="logos"
            />
            <p layout-padding>Valentina file</p>
        </div>
        <div ng-if="!(item.filename | isImage)" layout-align="start end"
            layout="column" flex>
            <div layout="row" layout-align="end center" layout-padding>
                {{item.filename}}
                <md-button class="md-primary" ng-href="view_photo/{{item.blob_key}}"
                    download="{{item.filename}}">
                    <ng-md-icon icon="cloud_download"></ng-md-icon>
                    Download
                </md-button>
            </div>
        </div>
    </div>
</div>
