<md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
    md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px"
    md-gutter-gt-sm="4px">
    <md-grid-tile ng-repeat="pattern in patterns | orderBy:'name'"
        md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1"
        ng-class="getClass('{{pattern.garment_family}}')" class="family-img">
        <div layout="row" class="tile-footer" style=";" layout-align="center center">
            <h3 flex ui-sref="view({projectId:pattern.id})">{{pattern.name}}</h3>
            <md-button ng-if="pattern.owner == user.email && user.email" aria-label="call"
                ui-sref="detail({projectId:pattern.id})" class="md-secondary md-icon-button">
                <ng-md-icon icon="edit" style="fill:white;"></ng-md-icon>
            </md-button>
        </div>
    </md-grid-tile>
</md-grid-list>
