.with-bg-size {
    /*
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.3;
    */
    background-image: url('/static/img/bg2.jpg');
    width: 100%;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
}

.with-bg-size.hero {
    height: 300px;
}

md-toolbar {
    background-color: rgba(63, 81, 181, 0)!important;
}

.main-frame {
    background-color: beige;
}

.middle-frame {
    background-color: white;
}

.hero {
    color: white;
    margin: 32px 0 0 0;
    padding: 0;
}

.after-hero {
    color: white;
    margin: 0;
    padding: 0;
}

.shadow {
    text-shadow: 0 0 3px black, 0 0 5px black;
}

.tile-style {
    background-image: url('/static/img/bg2.jpg');
}
