html,
body {
    height: 100%;
    overflow-y: scroll;
}

.with-bg-size {
    background-image: url('/static/img/bg2.jpg');
    width: 100%;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color;
}

.with-bg-size.hero {
    height: 300px;
}

.main-toolbar {
    background-color: rgba(63, 81, 181, 0)!important;
    color: beige!important;
}

.dialog-toolbar {
    background-color: beige!important;
    color: black!important;
}

.main-frame {
    background-color: beige;
    height: 100%;
}

.middle-frame {
    background-color: white;
}

.hero {
    color: beige;
    margin: 32px 0 0 0;
    padding: 0;
}

.after-hero {
    color: beige;
    margin: 0;
    padding: 0;
}

.shadow {
    text-shadow: 0 0 5px black, 0 0 5px black;
}

.family-img {
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
}

.family-pants {
    background-image: url('/static/img/family_pants.jpg');
}

.family-tops {
    background-image: url('/static/img/family_tops.jpg');
}

.family-skirts {
    background-image: url('/static/img/family_skirts.jpg');
}

.family-dresses {
    background-image: url('/static/img/family_dresses.jpg');
}

.family-suits {
    background-image: url('/static/img/family_suits.jpg');
}

.family-outerwear {
    background-image: url('/static/img/family_outerwear.jpg');
}

.family-footwear {
    background-image: url('/static/img/family_footwear.jpg');
}

.family-headwear {
    background-image: url('/static/img/family_headwear.jpg');
}

.family-nightwear {
    background-image: url('/static/img/family_nightwear.jpg');
}

.family-swimwear {
    background-image: url('/static/img/family_swimwear.jpg');
}

.family-other-garment {
    background-image: url('/static/img/family_other_garment.jpg');
}

.family-underwear {
    background-image: url('/static/img/family_underwear.jpg');
}

.family-other-not-garment {
    background-image: url('/static/img/family_other_not_garment.jpg');
}

.family-img-default {
    background-image: url('/static/img/bg2.jpg');
}

.big-icons {
    margin: 20% 40% 20% 20%;
    fill: black;
}

.login-divider {
    bottom: 0px;
    height: 20px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 400px;
    margin: 16px 0px;
    font-size: 20px;
    line-height: 14px;
}

.login-divider:after,
.login-divider:before {
    bottom: 11px;
    content: "";
    position: absolute;
    text-align: center;
    top: 8px;
    width: 172px;
    border-top: 1px solid rgb(51, 51, 51);
}

.login-divider:after {
    left: 228px;
    right: 0px;
}

.login-divider:before {
    left: 0px;
    right: 228px;
}

.tile-footer {
    padding-left: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.done-button {
    background-color: #00b900!important;
    color: white!important;
}
