<div ng-controller="HeaderCtrl" layout="column" class="with-bg-size"
    class="hero: state.current.name == 'home';">
    <md-toolbar class="main-toolbar">
        <div class="md-toolbar-tools">
            <h1 class="shadow"><a href="#/" ng-click="refreshHome()">Pattern Sharing Community</a></h1>
            <md-button ng-href="https://www.facebook.com/isewwhatyoudid/" class="md-icon-button"
                aria-label="More">
                <ng-md-icon icon="facebook" class="ng-md-icon-centered" style="fill:white"></ng-md-icon>
            </md-button>
            <span flex=""></span>
            <span ng-if="user.displayName">Welcome {{user.displayName}}</span>
            <md-button ng-if="user.displayName" class="md-raised" href="#/mypatterns">My Patterns</md-button>
            <sign-up type="CONFIG.LOGIN"></sign-up>
            <sign-up type="CONFIG.REGISTER"></sign-up>
        </div>
    </md-toolbar>
    <div layout="column" ng-show="state.current.name == 'home'" layout-padding>
        <h1 class="md-display-4 hero shadow"><a href="#/" ng-click="refreshHome()">I sew what you did</a></h1>
        <div flex layout="row" layout-align="center center">
            <h2 layout="row" flex class="md-display-2 after-hero shadow"><a href="#/" ng-click="refreshHome()">Find and share patterns online</a></h2>
            <md-button class="md-secondary md-raised hero-button md-warn"
                href="#/creators">
                Upload and share your patterns
            </md-button>
        </div>
    </div>
</div>
